<template>
  <div>
    <div class="container-fluid bg-f5 main-pt-pay ">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 bg-white shadow-pay">
          <div class="">
            <div>
              <h4 class="pay-title">
                กรุณาเลือกวิธีส่ง
              </h4>
              <div class="wrap-sendOption">
                <div class="box-send">
                  <label for="send">
                    <input type="radio" id="send" name="delivery" value="KERRY" v-validate="'required'" v-model="form.delivery">
                    <div>
                      <p class="title">kerry express (แนะนำ)</p>
                      <img src="~/assets/img/kerry-express.png" alt="kerry-express">
                    </div>
                  </label>
                </div>
                <div class="box-send">
                  <label for="send-2">
                    <input type="radio" id="send-2" name="delivery" value="EMS" v-model="form.delivery">
                    <div>
                      <p class="title">ไปรษณีไทย (EMS)</p>
                      <img src="~/assets/img/ems_thai.png" alt="ems">
                    </div>
                  </label>
                </div>
              </div>
            </div>

            <div class="wrapAddForm">
              <h4 class="pay-title">
                ที่อยุ่สำหรับการจัดส่ง
              </h4>
              <div>
                <div class="btn-addAddress" @click="addModal()">
                  <font-awesome-icon :icon="['fal', 'plus']" /> &nbsp;
                  เพิ่มที่อยู่ใหม่
                </div>
                <div class="container-fluid">
                  <div class="wrap-cardAddress row">
                    <label v-for="(ma,index) in myAddress" :key="index" class="col-12 col-md-6 col-lg-4 card-address"
                      :for="'address'+index" :class="{active:checkChoose(ma.id)}">
                      <div class="icons">
                        <div class="i i-edit" @click="addModal(index)">
                          <font-awesome-icon :icon="['far', 'edit']" />
                        </div>
                        <div class="i i-delete" @click="deleteAddress(ma.id)">
                          <font-awesome-icon :icon="['far', 'times']" />
                        </div>
                      </div>
                      <div>
                        <h6 class="name">
                          {{ ma.receiver }}
                        </h6>
                        <div class="address">
                          <p>ที่อยู่ {{ ma.address }}</p>
                          <p>จังหวัด {{ ma.province }}</p>
                          <p>เขต/อำเภอ {{ ma.amphoe }}</p>
                          <p>แขวง/ตำบล {{ ma.district }}</p>
                          <p>รหัสไปรษณี {{ ma.zipcode }}</p>
                        </div>
                        <p class="tel">
                          เบอร์โทรศัพท์ {{ ma.tel }}
                        </p>
                      </div>
                      <input type="radio" v-validate="'required'" name="address" :id="'address'+index" :value="ma.id" v-model="form.address_receiver" hidden>
                    </label>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <no-ssr>
      <div class="form-addAddress" v-if="d===true" lazy>
        <div class="form">
          <div class="wrap-input close">
            <font-awesome-icon :icon='["far","times"]' @click="closeModal()" />
          </div>
          <div class="wrap-input">
            <label for="">ชื่อ ผู้รับสินค้า</label>
            <input type="text" v-model="receiver" placeholder="ชื่อ ผู้รับสินค้า" v-validate="'required'"
              data-vv-as="receiver" data-vv-name="receiver">
            <span v-show="errors.has('receiver')" class="help is-danger">{{ errors.first('receiver') }}</span>
          </div>
          <div class="wrap-input">
            <label for="">เบอร์โทรศัพติดต่อ</label>
            <input type="tel" v-model="tel" placeholder="เบอร์โทรศัพติดต่อ" v-validate="'required'"
              data-vv-as="tel" data-vv-name="tel">
              <span v-show="errors.has('tel')" class="help is-danger">{{ errors.first('tel') }}</span>
          </div>
          <div class="wrap-input">
            <ThailandAutoComplete v-model="district" type="district" @select="select" label="ตำบล" placeholder="ตำบล" />
          </div>
          <div class="wrap-input">
            <ThailandAutoComplete v-model="amphoe" type="amphoe" @select="select" label="อำเภอ" color="#42b883"
              placeholder="อำเภอ" />
          </div>
          <div class="wrap-input">
            <ThailandAutoComplete v-model="province" type="province" @select="select" label="จังหวัด" color="#35495e"
              placeholder="จังหวัด" />
          </div>
          <div class="wrap-input">
            <ThailandAutoComplete v-model="zipcode" type="zipcode" @select="select" label="รหัสไปรษณีย์" color="#00a4e4"
              placeholder="รหัสไปรษณีย์" />
          </div>
          <div class="wrap-input">
            <label for="">ที่อยู่</label>
            <textarea v-model="address" class="form-control" cols="30" rows="10" v-validate="'required'"
              data-vv-as="address" data-vv-name="address"></textarea>
            <span v-show="errors.has('address')" class="help is-danger">{{ errors.first('address') }}</span>
          </div>
          <div class="wrap-input">
            <button @click="newAddress()" v-if="!editTab">
              เพิ่มที่อยู่ใหม่
            </button>
            <button @click="editAddress()" v-else>
              แก้ไขที่อยู่
            </button>
          </div>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        d: false,
        district: '',
        amphoe: '',
        province: '',
        zipcode: '',
        address: '',
        receiver: '',
        tel: '',
        id: null,
        editTab: false,
        form: {
          address_receiver: '',
          delivery: ''
        }
      }
    },
    computed: {
      myAddress() {
        return this.$store.state.address
      }
    },
    methods: {
      addModal(index) {
        if (index !== undefined) {
          const address = this.myAddress[index];
          this.editTab = true
          this.district = address.district
          this.amphoe = address.amphoe
          this.province = address.province
          this.zipcode = address.zipcode
          this.address = address.address
          this.receiver = address.receiver
          this.id = address.id
          this.tel = address.tel
        }
        this.d = !this.d
      },
      select(address) {
        this.district = address.district
        this.amphoe = address.amphoe
        this.province = address.province
        this.zipcode = address.zipcode
      },
      async newAddress() {
        var vm = await this
        await vm.$validator.validate().then(valid => {
          if (valid) {
            vm.$axios.$post('addresses', {
                district: vm.district,
                amphoe: vm.amphoe,
                province: vm.province,
                zipcode: vm.zipcode,
                address: vm.address,
                receiver: vm.receiver,
                tel: vm.tel,
                u_id: vm.user.id
              })
              .then(res => {

              })
              .catch(err => {

              })
              .then(() => {
                vm.district = ''
                vm.amphoe = ''
                vm.province = ''
                vm.zipcode = ''
                vm.address = ''
                vm.receiver = ''
                vm.tel = ''
                vm.d = false
                vm.editTab = false;
                vm.$store.dispatch('getAddress');
              })
          }
        });
      },
      deleteAddress(id) {
        const vm = this;
        vm.$swal({
          title: 'กรุณายืนยัน?',
          text: 'ลบแล้วไม่สามารถกู้คืนกลับได้',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'ตกลง',
          cancelButtonText: 'ยกเลิก'
        }).then((result) => {
          if (result.value) {
            vm.$axios.$delete('addresses/' + id)
              .then(res => {

              })
              .catch(err => {

              })
              .then(() => {
                vm.$store.dispatch('getAddress')
              })
          }
        });
      },
      async editAddress(id) {
        const vm = await this;
        await vm.$validator.validate().then(valid => {
          if (valid) {
            vm.$axios.$put('addresses/' + vm.id, {
            district: vm.district,
            amphoe: vm.amphoe,
            province: vm.province,
            zipcode: vm.zipcode,
            address: vm.address,
            receiver: vm.receiver,
            tel: vm.tel,
            u_id: vm.user.id
          })
          .then(res => {

          })
          .catch(err => {

          })
          .then(() => {
            vm.district = ''
            vm.amphoe = ''
            vm.province = ''
            vm.zipcode = ''
            vm.address = ''
            vm.receiver = ''
            vm.tel = ''
            vm.id = null
            vm.d = false
            vm.editTab = false;
            vm.$store.dispatch('getAddress');
          })
          }
        });
      },
      async closeModal() {
        this.editTab = await false;
        this.district = await ''
        this.amphoe = await ''
        this.province = await ''
        this.zipcode = await ''
        this.address = await ''
        this.receiver = await ''
        this.tel = await ''
        this.id = await null
        this.d = await false;
      },
      checkChoose(id) {
        if (this.form.address_receiver === id)
          return true;
        return false;
      },
      async validateForm() {
        const vm = this;
        const check = await vm.$validator.validateAll().then((result) => {
          if (result) {
            vm.$store.commit('Payment/SET_DELIVERY',vm.form)
            return true;
          }
            vm.$swal({
              type: 'error',
              title: 'ขออภัย !',
              text: 'กรุณาเลือกวิธีส่งเเละที่อยู่สำหรับการจัดส่ง'
            })
            return false;
        });
        return check;
      }
    },
    scrollToTop: true
  }

</script>

<style>

</style>
