<template>
    <nuxt-link tag="li" :to="'/Category/'+item.id">
      <span>{{lang === 'th'?item.c_name_TH:item.c_name_EN}}</span>
      <ul class="sidebar-listCat" v-if="subCategoryByID.length > 0">
          <CatSide v-for="(items,index) in subCategoryByID" :key="index" :item="items" />
      </ul>
    </nuxt-link>
</template>

<script>
  import CatSide from "./CategorySide.vue";
  export default {
    name : "CatSide",
    props: {
      item: Object
    },
    components: {
      CatSide
    },
    computed: {
      subCategoryByID() {
        let store = this.$store.getters["Product/subCategoryByID"](this.item.id);
        return store;
      }
    },
    methods: {
      checkChild() {

      }
    }
  };

</script>

<style>
</style>
