<template>
  <li>
    <nuxt-link :to="'/Category/'+category.id">{{ lang === 'th'?category.c_name_TH:category.c_name_EN }}</nuxt-link>
    <font-awesome-icon :icon="['fa', 'caret-right']" v-if="subCategoryByID.length > 0"/>
    <ul class="sub2" :style="{backgroundColor:BgSwitch}" v-if="subCategoryByID.length > 0">
      <CategoryBar v-for="(items,index) in subCategoryByID" :category="items" :color="BgSwitch" :key="index"></CategoryBar>
    </ul>
  </li>
</template>

<script>
  import CategoryBar from './CategoryBar.vue'
  export default {
    name: "CategoryBar",
    data(){
      return {

      }
    },
    components: {
      CategoryBar
    },
    props: {
      category: Object,
      color : String
    },
    computed: {
      BgSwitch(){
        if(this.color == '#f5f5f5'){
          return 'white'
        }else if(this.color == 'white'){
          return '#f5f5f5'
        }
      },
      subCategoryByID() {
        let store = this.$store.getters['Product/subCategoryByID'](this.category.id);
        return store;
      }
    }
  };

</script>

<style>

</style>
