<template lang="html">
  <div class="loading-page" v-if="loading">

    <div class="lds-spinner">
      <img class="img-logo" src="../assets/img/logo-load.png" alt="">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data: () => ({
      loading: false
    }),
    methods: {
      start() {
        this.loading = true
      },
      finish() {
        this.loading = false
      }
    }
  }

</script>

<style scoped>
  .loading-page {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    font-size: 30px;
    font-family: sans-serif;
    z-index: 1000;
    background-color: #fff;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-log {
    width: 100%;
    max-height: auto;

  }

  .lds-spinner {
    z-index: 1200;
    text-align: center;
  }

  .lds-ellipsis {
    display: block;
    position: relative;
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(146, 146, 146);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(19px, 0);
    }
  }

</style>
