<template>
    <div class="header-lang">
      <a v-if="locale === 'th'" @click.prevent="setLocale('en')">
        <img src="~/assets/img/Eng.png" alt="">
      </a>
      <a v-else @click.prevent="setLocale('th')">
        <img src="~/assets/img/Th.png" alt="">
      </a>
    </div>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  import {
    loadMessages
  } from '~/plugins/i18n'

  export default {
    computed: mapGetters({
      locale: 'lang/locale',
      locales: 'lang/locales'
    }),

    methods: {
      setLocale(locale) {
        if (this.$i18n.locale !== locale) {
          loadMessages(locale)
          this.$cookies.set('locale', locale, {
            maxAge: 60 * 60 * 24 * 1
          })
          this.$store.dispatch('lang/setLocale', {locale})
        }
      }
    }
  }

</script>
