<template>
  <no-ssr>
    <div>

      <header class="banner">
        <h2 class="title">{{lang === 'th'?ProductByID.p_name_TH:ProductByID.p_name_EN}} {{ProductByID.p_attr}}</h2>
      </header>

      <bread-crumb
        :des="lang === 'th'?ProductByID.p_name_TH+' '+ ProductByID.p_attr:ProductByID.p_name_EN+ ' '+ ProductByID.p_attr">
      </bread-crumb>

      <div class="container">
        <div class="row">
          <div class="col-12 col-md-9">
            <div class="container-fluid p-0">
              <div class="row">
                <div class="col-12 col-md-7">
                  <div class="img-productDetail">
                    <figure class="main-img">
                      <img :src="`${path}/Picture/MainProductPicture/${ProductByID.p_img}`" alt="">
                    </figure>
                    <div class="mini-img">
                      <figure v-for="(subimg,i) in ProductByID.img_product" :key="i">
                        <img :src="`${path}/Picture/SubProductPicture/${subimg.ip_img}`" alt="">
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-5">
                  <div class="productDetail-info">
                    <h1 class="title">
                      {{lang === 'th'?ProductByID.p_name_TH:ProductByID.p_name_EN}}
                    </h1>

                      <!-- FlashSale -->
                    <div class="wrap-price" v-if="Flashsale != null">
                      <p class="price">{{Flashsale.fsd_price}} bath</p>
                      <p class="cut-price"> {{ProductByID.p_price}} bath</p>
                    </div>

                      <!-- Discount -->
                    <div class="wrap-price" v-else-if="ProductByID.p_dis_price != null">
                      <p class="price">{{ProductByID.p_dis_price}} bath</p>
                      <p class="cut-price"> {{ProductByID.p_price}} bath</p>
                    </div>

                      <!-- Price -->
                    <div class="wrap-price" v-else>
                       <p class="price">{{ProductByID.p_price}} bath</p>
                    </div>

                    <div class="pro-info my-3">
                      <div>
                        <font-awesome-icon :icon="['far', 'tag']" />
                        <strong class="ml-1">Attribute :</strong>
                        <label>{{ProductByID.p_attr}}</label>
                      </div>
                      <div>
                        <font-awesome-icon :icon="['far', 'bold']" />
                        <strong class="ml-2">Brand :</strong>
                        <label>{{ProductByID.brand.brand_name_EN}}</label>
                      </div>
                      <div>
                        <font-awesome-icon :icon="['far', 'folder-open']" />
                        <strong class="ml-1">Category :</strong>
                        <label>{{ProductByID.category.c_name_TH}}</label>
                      </div>
                      <div>
                        <font-awesome-icon :icon="['far', 'list']" />
                        <strong class="ml-2">Detail :</strong>
                        <label>
                          {{ProductByID.p_description}}
                        </label>
                      </div>
                    </div>
                    <div>
                      <div class="my-2">
                        QUANTITY
                      </div>
                      <div class="quantity">
                        <div class="icon left" @click="decrement()">
                          <font-awesome-icon :icon="['far', 'minus']" />
                        </div>
                        <div class="icon right" @click="increment()">
                          <font-awesome-icon :icon="['far', 'plus']" />
                        </div>
                        <input v-model="qty" type="number" name="" max="99">
                      </div>

                      <button class="btn-addCart" @click="addToCart(ProductByID)">
                        <p>add to cart</p>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="toggle-productDetail">
                    <p class="active">
                      description
                    </p>
                  </div>
                  <div class="body-toggle-productDetail">
                    <div class="active">
                      <div v-html="ProductByID.p_detail_TH">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="product-listDetail">
              <div class="container-fluid wrap-flash wrap-flash-mini" v-show="Flashsale != null">
                <div class="flash-info">
                  <p class="title">เหลือเวลาช็อปอีก</p>
                  <div class="time">
                    <p v-if="dateFs.hh != NaN">{{dateFs.hh}}</p>
                    <p>{{dateFs.mm}}</p>
                    <p>{{dateFs.ss}}</p>
                  </div>
                </div>
              </div>
              <a href="">
                <img src="https://via.placeholder.com/200" alt="">
              </a>
              <a href="">
                <img src="https://via.placeholder.com/200" alt="">
              </a>
              <a href="">
                <img src="https://via.placeholder.com/200" alt="">
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="wrap-usercomment w-100">
            <h5 class="title">รีวิวจากลูกค้า</h5>
            <div class="product-comment">
              <div class="star">
                <h6 class="star-number">
                  {{point}}
                </h6>
                <div class="star-list">
                  <div class="i-star">
                    <font-awesome-icon v-for="(item,r) in rating" :key="r" :icon="[item==true?'fas':'fal', 'star']"
                      @click="Calrating(r)" />
                  </div>
                </div>
              </div>
              <div class="comment-form">
                <textarea v-model="comments.comment" cols="30" rows="7"></textarea>
                <button class="btn-pink" @click="Post()">โพสต์</button>
              </div>
            </div>
            <div class="row user-comment" v-for="(comment,m) in ProductByID.comments" :key="m">
              <div class="col-1 user-comment-img">
                <img src="https://via.placeholder.com/70" alt="">
              </div>
              <div class="col-9 user-comment-body">
                <div class="user-comment-title">
                  <h6 class="name">
                    {{comment.users.name}}
                  </h6>
                  <p class="date">
                    {{comment.created_at}}
                  </p>
                </div>

                <p class="des">
                  {{comment.pc_comment}}
                </p>
                <div class="d-flex">
                  <div class="i-heart" @click="comment.owner_id==user.id?'':likeComment(comment.id)">
                    <font-awesome-icon
                      :icon="[comment.pc_like==null?'fal':comment.pc_like.includes(user.id)===true?'fas':'fal','heart']" />
                  </div>
                  <p>{{comment.pc_like==null?0:comment.pc_like.length}}</p>
                </div>
              </div>
              <div class="col-2 user-comment-start">
                <div class="start-list">
                  <font-awesome-icon :icon='["fas","star"]' v-for="(star_like,like) in comment.pc_point"
                    :key="'x'+like" />
                  <font-awesome-icon :icon='["fal","star"]' v-for="(star_none,none) in 5-comment.pc_point"
                    :key="'y'+none" />
                </div>
                <div class="start-list">
                  <font-awesome-icon :icon='["fas","trash"]' v-if="comment.owner_id===user.id"
                    @click="delComment(comment.id)" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" v-show="RelateProduct.length > 0">
        <div class="d-flex justify-content-center relatedTitle">
          <img src="~/assets/img/title-img/head8.png" alt="">
        </div>
        <div class="wrapRelatedSlider">
          <slick ref="slickSliderRelateProduct" :options="slickOptionsProduct" class="relatedSlider">
            <li v-for="(items,index) in RelateProduct" :key="index">
              <div class="product new" :title="items.p_name_TH + ' ' + items.p_attr">
                <div class="wrap-love" @click="loveAdd(items)">
                  <div class="iconActive" v-if="checkLove(items.id)==true">
                    <font-awesome-icon :icon="['fas', 'heart']" />
                  </div>
                  <div class="icon" v-else>
                    <font-awesome-icon :icon="['fal', 'heart']" />
                  </div>
                </div>
                <nuxt-link :to="'/Product/'+items.id">
                  <figure class="product_img">
                    <img :src="path+'/Picture/MainProductPicture/'+items.p_img" :alt="items.p_name_TH">
                  </figure>
                  <div class="product_body">
                    <h3 class="title">{{items.p_name_TH.substr(0,40)}} {{items.p_attr}}</h3>
                    <p class="brand">{{items.brand.brand_name_EN}}</p>
                    <div class="product_price">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="price">{{formatMoney(items.p_price)}} บาท</p>
                        <!-- <p class="cut">
                              <span>{{items.p_dis_price}} บาท</span>
                            </p>-->
                      </div>
                      <!-- <p class="sell">
                            -10%
                          </p>-->
                    </div>
                  </div>
                </nuxt-link>
                <p class="product_btn-buy" @click="basketAdd(items)">
                  <font-awesome-icon :icon="['far', 'shopping-cart']" />
                  <span>{{ $t('cart') }}</span>
                </p>
              </div>
            </li>
          </slick>
        </div>

      </div>

    </div>
  </no-ssr>
</template>

<script>
  import Breadcrumb from "~/components/breadcumb.vue";
  export default {
    async fetch(context) {
      await context.store.dispatch("Product/getProduct");
      await context.store.dispatch("Product/getCategory");
      await context.store.dispatch("Product/getBrand");
    },
    async asyncData({
      $axios,
      params
    }) {
      const data = await $axios.$get('showProduct/' + params.id).then(res => {
        return res
      })
      const checkFS = await data.flashsale.find((q)=>q.flash_sale != null)
      let Flashsale = null
      if(checkFS != undefined){
        Flashsale = {
          fsd_price: checkFS.fsd_price,
          fs_dateend: checkFS.flash_sale.fs_dateend,
          id: checkFS.flash_sale.id
        }
      }
      return {
        ProductByID: data,
        Flashsale: Flashsale
      }
    },
    data() {
      return {
        qty: 1,
        slickOptionsProduct: {
          slidesToShow: 4,
          slidesToScroll: 1,
          autoplay: true,
          dots: true,
          arrows: false,
          draggable: true,
          swipe: true,
          responsive: [{
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              dots: true,
              arrows: false
            }
          }]
        },
        rating: [true, false, false, false, false],
        comments: {
          u_id: null,
          p_id: null,
          comment: '',
          point: 1
        },
        ProductByID: '',
        Flashsale: '',
        datenow: "",
        dateFs: {
          hh: "00",
          mm: "00",
          ss: "00"
        }
      }
    },
    head() {
      return {
        title: 'Bluepaca ' + this.ProductByID.p_name_TH,
        meta: [{
            hid: 'description',
            property: 'og:url',
            content: 'https://competent-dijkstra-cafbbb.netlify.com/Product/' + this.ProductByID.id
          },
          {
            hid: 'description',
            property: 'og:type',
            content: 'article'
          },
          {
            hid: 'keyword',
            property: 'og:title',
            content: 'Bluepaca ' + this.ProductByID.p_name_TH
          },
          {
            hid: 'description',
            property: 'og:description',
            content: this.ProductByID.p_detail_TH
          },
          {
            hid: 'description',
            property: 'og:image',
            content: this.path + '/Picture/MainProductPicture/' + this.ProductByID.p_img
          }
        ]
      }
    },
    mounted() {
      this.time();
    },
    components: {
      "bread-crumb": Breadcrumb
    },
    computed: {
      point() {
        let result = this.rating.filter(q => q === true);
        return result.length
      },
      RelateProduct() {
        return this.$store.getters["Product/RelateProduct"](this.$route.params.id);
      }
    },
    methods: {
      increment() {
        this.qty++;
      },
      decrement() {
        if (this.qty != 1)
          this.qty--;
      },
      addToCart(items) {
        for (let i = 0; i < this.qty; i++) {
          this.basketAdd(items)
        }
      },
      async Post() {
        if (this.ProductByID.u_id == null || this.ProductByID.u_id.includes(this.user.id) == false) {
          this.$swal({
            type: 'warning',
            title: 'Warning !',
            text: 'ท่านต้องสั่งซื้อสินค้าชิ้นนี้ก่อน ถึงจะสามารถรีวิวสินค้าได้'
          });
          return false;
        } else if (this.comments.comment == '') {
          this.$swal({
            type: 'warning',
            title: 'Warning !',
            text: 'กรุณากรอกข้อความ'
          });
          return false;
        }
        await this.$nuxt.$loading.start()
        // Actually change route 5s later
        this.comments.u_id = await this.user.id;
        this.comments.p_id = await this.ProductByID.id;
        this.comments.point = await this.point;
        await this.$axios.$post('productComments', this.comments)
          .then(res => {
            console.log(res)
          })
          .catch(err => {

          })
          .then(() => {
            this.comments.u_id = null;
            this.comments.p_id = null;
            this.comments.comment = ''
            this.rating = [true, false, false, false, false];
            this.$nuxt.$loading.finish();
            this.fetchData();
          });
      },
      async delComment(id) {
        await this.$nuxt.$loading.start()
        await this.$axios.$delete('productComments/' + id)
          .then(res => {

          })
          .catch(err => {

          })
          .then(() => {
            this.fetchData();
            this.$nuxt.$loading.finish();
          })
      },
      async likeComment(id) {
        await this.$nuxt.$loading.start()
        await this.$axios.$put('productComments/' + id, {
            u_id: this.user.id
          })
          .then(res => {

          })
          .catch(err => {

          })
          .then(() => {
            this.fetchData();
            this.$nuxt.$loading.finish();
          })
      },
      Calrating(index) {
        if (index == 0) {
          this.rating = [true, false, false, false, false]
        } else if (index == 1) {
          this.rating = [true, true, false, false, false]
        } else if (index == 2) {
          this.rating = [true, true, true, false, false]
        } else if (index == 3) {
          this.rating = [true, true, true, true, false]
        } else if (index == 4) {
          this.rating = [true, true, true, true, true]
        }
      },
      fetchData() {
        this.$axios.$get('showProduct/' + this.$route.params.id)
          .then(res => {
            this.ProductByID.comments = res.comments
          })
      }
    },
    beforeDestroy() {
      if (this.$refs.slickSliderRelateProduct)
        this.$refs.slickSliderRelateProduct.destroy();
    }
  }

</script>

<style>

</style>
