<template>
  <no-ssr>
    <div>
      <header class="banner">
        <h2 class="title">
          {{$t('forget.title')}}
        </h2>
      </header>
      <bread-crumb :des="$t('forget.title')"></bread-crumb>
      <div class="container card-register bg-heart">
        <div class="row justify-content-end">
          <div class="col-12 col-md-7 col-lg-5">
            <div>
              <form class="form-register form-focus" @submit.prevent="submit">
                <div class="register-header">
                  <h2 class="title">
                    Forget Password
                  </h2>
                  <nuxt-link to="/auth/Login">
                    <div class="icon">
                      <font-awesome-icon :icon="['fal', 'angle-right']"/>
                    </div>
                    <p>
                      login
                    </p>
                  </nuxt-link>

                </div>
                <div class="wrap-input">
                  <label for="">Verify email</label>
                  <input type="email" name="" id="r-email" v-model="email" placeholder="email" v-validate="'required|email'"
                    data-vv-name="email">
                  <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                </div>
                <div class="wrap-btn">
                  <button type="submit">
                    submit
                  </button>
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </no-ssr>
</template>

<script>
  import Breadcrumb from '~/components/breadcumb.vue'
  export default {
    name: "Login",
    fetch() {
      return new Promise((resolve) => {
        setTimeout(function () {
          resolve({})
        }, 500)
      })
    },
    middleware: 'guest',
    components: {
      'bread-crumb': Breadcrumb
    },
    data() {
      return {
        email: "dearbass36@gmail.com"
      }
    },
    computed: {

    },
    methods: {
      async submit() {
        const vm = this;
        await vm.$axios.$post('password/email', {
            email: vm.email,
          })
          .then((res) => {

          })
          .catch((err) => {

          })
          .then(()=>{
            vm.$swal({
              type : "success",
              title : "สำเร็จ ! ",
              text : "ส่ง Email reset password แล้ว"
            })
          });
      }
    },
    scrollToTop: true
  }

</script>

<style>
  .left-arrow,
  .right-arrow,
  .number {
    cursor: pointer;
  }

</style>
