<template>
  <div>
    <header class="banner">
      <h2 class="title">
        {{$t('loginpage.title')}}
      </h2>
    </header>
    <bread-crumb :des="$t('loginpage.title')"></bread-crumb>
    <div class="container card-register bg-heart">
      <div class="row justify-content-end">
        <div class="col-12 col-md-7 col-lg-5">
          <div>
            <form class="form-register form-focus" @submit.prevent="Login">
              <div class="register-header">
                <h2 class="title">
                  login
                </h2>
              </div>
              <div class="wrap-input">
                <label class="req" for="">username</label>
                <input ref="refUserName" type="text" placeholder="username" v-model="email">
              </div>
              <div class="wrap-input">
                <label class="req" for="">password</label>
                <input type="password" placeholder="password" v-model="password">
              </div>
              <div class="wrap-input wrap-checkbox">
                <label for="remember">remember me</label>
                <input type="checkbox" name="remember" id="remember" v-model="rememberme">
              </div>
              <div class="wrap-input wrap-forgetPass">
                <nuxt-link to="/auth/Forgetpassword">
                  Forgot password?
                </nuxt-link>
              </div>

              <div class="wrap-btn">
                <nuxt-link class="btn-pink" to="/auth/Register" tag="a">
                  register
                </nuxt-link>
              </div>

              <div class="wrap-btn">
                <button type="submit">
                  login
                </button>
                <a class="f-book" href="">
                  <div class="icon">
                    <font-awesome-icon :icon="['fab','facebook-square']" />
                  </div>
                  facebook
                </a>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Breadcrumb from '~/components/breadcumb.vue'
  export default {
    name: "Login",
    fetch() {
      return new Promise((resolve) => {
        setTimeout(function () {
          resolve({})
        }, 500)
      })
    },
    middleware: 'guest',
    components: {
      'bread-crumb': Breadcrumb
    },
    data() {
      return {
        email: "Administrator@goingstudio.com",
        password: "adminadmin",
        rememberme: true
      }
    },
    computed: {

    },
    methods: {
      async Login() {
        const vm = this;
        await vm.$axios.$post('auth/login', {
            email: vm.email,
            password: vm.password,
            rememberme: vm.rememberme
          })
          .then((res) => {
            vm.$store.commit('SET_TOKEN', res.token);
            vm.$store.commit('SET_USER', res.data);
            vm.$cookies.set('token', res.token, {
              maxAge: 60 * 60 * 24 * 7
            })
            vm.$axios.setToken(res.token, 'Bearer');
            vm.$router.back()
          })
          .catch((err) => {
            vm.$swal({
              type : "error",
              title : "ล้มเหลว !",
              text : "Email หรือ Password ไม่ถูกต้อง"
            })
          });
      }
    },
    scrollToTop: true
  }

</script>

<style>
  .left-arrow,
  .right-arrow,
  .number {
    cursor: pointer;
  }

</style>
