<template>
  <no-ssr>
    <div>
      <header class="banner">
        <h2 class="title">
          {{lang==="th"?Content.content_title_TH:Content.content_title_EN}}
        </h2>
      </header>
      <bread-crumb :des="lang === 'th'?Content.content_title_TH:Content.content_title_EN"></bread-crumb>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3">
            <ul class="list-problem">
              <nuxt-link tag="li" to="/Service/TermService">{{$t('nav.termservice')}}</nuxt-link>
              <nuxt-link tag="li" to="/Service/Policy">{{$t('nav.policy')}}</nuxt-link>
              <nuxt-link tag="li" to="/Service/Howtobuy">{{$t('foot.howtobuy')}}</nuxt-link>
              <nuxt-link tag="li" to="/Service/Howtopay">{{$t('nav.howtopay')}}</nuxt-link>
              <nuxt-link tag="li" to="/Service/Delivery">{{$t('foot.delivery')}}</nuxt-link>
              <nuxt-link tag="li" to="/Service/Faq">{{$t('foot.faq')}}</nuxt-link>
            </ul>
          </div>
          <div class="col-12 col-md-7">
            <div class="wrap-box-faq">
              <div class="box active">
                <h2 class="title">
                  {{lang==="th"?Content.content_title_TH:Content.content_title_EN}}
                </h2>
                <div v-html="Content.content_detail_TH">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </no-ssr>
</template>

<script>
  import Breadcrumb from '~/components/breadcumb.vue'
  export default {
    name: 'Service',
    components: {
      'bread-crumb': Breadcrumb
    },
    async fetch(context) {
      await context.store.dispatch('Content/getContent');
    },
    data() {
      return {

      }
    },
    mounted() {

    },
    computed: {
      Content() {
        let store = this.$store.getters['Content/contentByName'](this.$route.params.service);
        return store;
      }
    },
    scrollToTop: true
  }

</script>
