// background
.bg-heart {
    background-image: url('../img/banner-login.png');
    background-size: 0;
    background-repeat: no-repeat;
    background-color: #FFE0F1;
    padding: 15px;
}

.max-100 {
    max-width: 100%;
}

.titleTextImg {
    margin-bottom: 20px;
    .text {
        font-weight: 400;
        display: flex;
        border-bottom: 5px solid $pink;
        padding: 15px 0;
        color: $blue;
    }

    .img {
        display: none;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%
        }
    }
}

// Product
.product {
    max-width: 100%;
    margin-right: 30px;
    background-color: white;
    text-decoration: none;
    color: black;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #D8D8D8;
    padding: 30px 0 0;
    outline-color: $blue;
    margin-right: 20px;
    .title {
        font-size: 18px;
        color: #4A4A4A;
        font-weight: 400;
        min-height: 40px;
        overflow: hidden;
    }

    .brand {
        font-size: 18px;
        color: #9B9B9B;
        margin-bottom: 10px;

    }




    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 70px;
        display: block;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px;
    }
    .wrap-love {
        color: $pink;
        position: absolute;
        top: 5px;
        left: 2.5px;
        font-size: 25px;
        cursor: pointer;
        .iconActive {
            display: block;
        }
        .icon {
            display: block
        }
        &.active {
            .iconActive{
                display: block;
            }
            .icon {
                display: none;
            }
        }
    }
    &:hover {
       border-color: $pink;
       .product_btn-buy {
         opacity: 1;
         pointer-events: visible;
       }
    }
}

.product_img {
    min-height: 120px;
    img {
        margin: 0 auto;
        display: block;
    }
}

.product_body {
    padding: 0 17px;
    margin-top: 15px;
}

.product_price {
    display: flex;
    align-items: flex-start;
    .price {
        font-size: 25px;
        color: $pink;
    }

    .sell {
        color: $pink;
        border: 2px solid $pink;
        display: inline-flex;
        padding: 5px 8px;
        margin-left: 10px;
        font-size: 12px;
    }

    .cut {
        text-decoration: line-through;
        color: #D8D8D8;
        font-size: 17px;
        min-height: 20px;
    }
}

.product_btn-buy {
    width: 100%;
    height: 40px;
    background-color: $pink;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 3;
    margin-top: 10px;
    opacity: 0;
    pointer-events: none;
    &:hover {
        background-color: lighten($pink, 4%);
    }
    span {
        margin-left: 8px;
    }
}
.index-news {
  padding: 5px!important;
}
.news-blog{
  img{
    width: 300px;
    height: 300px;
  }
  .description{
    text-align: center;
    margin-bottom: 10px;
  }
}
// type of product
.product {
    &.new {
        &:before {
            background-image: url('../img/tagImg/new.svg');
        }
    }
    &.hot {
        &:before {
            background-image: url('../img/tagImg/hot.svg');
        }
    }
    &.sale {
      &:before {
          background-image: url('../img/tagImg/sale.svg');
      }
    }
    &.flash {
        &:before {
            background-image: url('../img/tagImg/flash.svg');
        }
    }
    &.soldOut {
         &:before {
            width: 160px;
            height: 160px;
            top: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            background-image: url('../img/tagImg/soldOut.svg');
            background-size: 160px;
        }
    }
}


// Product Slider
.wrap-produclSlider {
    position: relative;
    padding: 0 1px;
    .product {
        width: auto !important;
        margin: 0 5px;
    }
}
.productSlider-icon {
    .icon {
        font-size: 25px;
        background-color: #EEEEEE;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $blue;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        cursor: pointer;
        &:hover {
            background-color: darken(#EEEEEE, 3%);
        }
    }
    .icon-left {
        left: 0;
        transform: translate(-100%, -50%);
    }
    .icon-right {
        right: 0;
        transform: translate(100%, -50%);
    }
}

.slider-brand {
    img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }
    a {
        max-width: 200px;
    }
    .slick-dots{
      bottom : -10px!important;
    }

}

// Thumbnail
// pink and blue
.thumBlog {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 75px;
        height: 2px;
        background-color: $pink;
        transform: translateX(-50%);
    }
    figure {
        position: relative;
        img {
            margin: 0 auto;
            display: block;
        }
        &:before {
            content: "read more";
            position: absolute;
            top: 0;
            left: 0;
            text-transform: uppercase;
            color: white;
            font-size: 25px;
            font-weight: 400;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($pink, .4);
            opacity: 1;
            display: none;
        }
    }
    .date {
        margin: 0 auto;
        color: white;
        background-color: $pink;
        min-width: 200px;
        height: 40px;
        white-space: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 19px;
        transform: translateY(-50%);
        text-align:center;
    }
}
.thumBlog {
    &:hover {
        figure {
            &:before {
                display: flex;
            }
        }
    }
}
.thumBlog--blue {
    figure {
        &:before {
            background-color: rgba($blue, .4);
        }
    }
    .date {
        background-color: $blue;
    }
    &:before {
        background-color: $blue;
    }
}

// flashSlider
.wrap-flash {
    background-color: #80DDFF;
    padding: 20px 0;
}
.bg-flash-person {
    background-color: $blue;
    background-image: url(../img/flash-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 0 15px;
}
.flash-info {
    margin-bottom: 20px;
    .title {
        text-align: center;
        font-size: 21px;
        margin-bottom: 14px;
    }
    .time {
        display: flex;
        justify-content: center;
        font-size: 30px;
        p {
            position: relative;
            color: $pink;
            background-color: white;
            overflow: visible;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:not(:nth-last-child(1)){
                &:after {
                    content: ':';
                    color: black;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    background-color: #80DDFF;
                    width: 10px;
                    position: absolute;
                    right: -5px;
                    top: 0;

                    z-index: 3;

                }
            }
        }
    }
    figure {
        margin-bottom: 10px;
        img {
            display: block;
            margin: 0 auto;
        }
    }

}
.bg-flash-person {
    .flash-info {
        .time {
            p{
                background-color: $pink;
                color: white;
                &:after {
                    background-color: $pink;
                    color: white;
                }
            }
        }
    }
}

.wrap-flash-mini {
    background-color: white;
    border: 1px solid #d9d9d9;
    padding: 10px 0;
    .flash-info {
        margin-bottom: 5px;
        p {
            &:after {
                background: white !important;
            }
        }
    }
}


// custom style slick
.dot-cycle {
    position: relative;
    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 0;
        display: flex;
        transform: translateX(-50%);
        li {
          margin-right: 5px;
          display: flex;
          &.slick-active {
            button {
              background-color: $blue;
            }
          }
          button {
            outline-color: $pink !important;
            font-size: 0;
            border: 0;
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
}

.dot-flash {
    .slick-dots {
      transform: translate(-50%,170%) !important;
    }
}
.dot-cycle-blue {
    position: relative;
    .slick-dots {
        li {
          &.slick-active {
            button {
              background-color: $blue;
            }
          }
          button {
            outline-color: $pink !important;
          }
        }
      }
}
.dot-cycle-white {
    position: relative;
    .slick-dots {
        li {
            &.slick-active {
                button {
                    background-color: $pink;
                }
            }
            button {
                outline-color: $blue !important;
            }
        }
    }
}

.dot-cycle-borderGray {
    .slick-dots {
        li {
            button {
                border: 1px solid #9B9B9B;
            }
        }
    }
}
.wrap-slickWelcome {
    position: relative;
    .slick-dots {
        transform: translate(-50%,0);
        bottom: 20px;
    }
    img {
        display: block;
        margin: 0 auto;
    }

  }
.slider-blueDot {
    .slick-dots {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 25px 0;
        li {
            margin-bottom: 9px;
            button {
                border: 1px solid #9B9B9B;
            }
        }
    }
    .slick-arrow {
      font-size: 20px;
      font-weight: 1;
      position: absolute;
      top: 50%;
      background-color: #EEEEEE;
      color: $blue;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      z-index: 3;
      cursor: pointer;
      &:hover {
          background-color: darken(#EEEEEE, 6%);
      }
    }
    #slider-new-left {
        left: -20px;
        transform: translate(-100%,-50%);
    }
    #slider-new-right{
        right: 0;
        transform: translate(100%,-50%);
    }
}
.flashSlider {
    display: flex;
    align-items: center;
    .slick-arrow {
        font-size: 29px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    #flashSlider-left {
        left: 0;
    }
    #flashSlider-right {
        right: 0;
    }
}

// Home
.wrap-newSlider,
.wrap-hotSider,
.wrap-recommend,
.wrap-promotion,
.wrap-blog,
.wrap-brandSlider{
    margin: 50px 0;
}



// Register Page
.register-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
    .title {
        text-transform: uppercase;
        font-weight: 400;
    }
    a {
        color: $pink;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            display: inline-block;
            border-bottom: 1px solid $pink;
        }
        &:hover,&:active{
            color: darken($pink, 8%);
        }

    }
    .icon {
        background-color: $pink;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
    }
}


// form
.form-register {
    text-transform: uppercase;
    background-color: white;
    padding: 34px 16px;
    font-size: 16px;
    box-shadow: 1px 1px 1px 1px rgba(black, .4);
    label {
        margin-bottom: 7px;
        position: relative;
        &.req {
            &:after {
                content: '*';
                display: inline-block;
                color: $pink;
                margin-left: 4px;
            }
        }
    }
    input {
        height: 40px;
        border: 1px solid #EFE9E9;
        padding: 0 15px;
        &::placeholder {
            color: rgba(#4A4A4A, .5);
            text-transform: uppercase;
        }
    }
    .wrap-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 14px;
    }
    .wrap-checkbox {
        flex-direction: row;
        align-items: center;
        label {
            margin: 0;
            order: 2;
            cursor: pointer;
        }
        input {
            height: auto;
            margin-right: 8px;
        }
    }
    .wrap-forgetPass {
        a {
            color: $pink;
            text-decoration: underline;
            &:hover,&:active {
                color: darken($pink, 8%);
            }
        }
    }
    .wrap-btn {
        display: flex;
        flex-wrap: wrap;
        >* {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: inherit;
            font-weight: 300;
            cursor: pointer;
        }
        button[type="submit"] {
            background-color: #4EBAEA;
            color: white;
            height: 40px;
            margin-bottom: 12px;
            &:hover,&:active {
                background-color: darken(#4EBAEA, 3%);
            }
        }
        a {
            &.f-book {
                background-color: #3B69D9;
                color: white;
                .icon {
                    margin-right: 9px;
                }
                &:hover,&:active {
                    background-color: darken(#3B69D9 ,3%);
                }
            }
        }
        .btn-pink {
            background-color: $pink;
            color: white;
            margin-bottom: 7.5px;
        }
    }
}
.form-contact {
    text-transform: uppercase;
    background-color: white;
    label {
        font-size: 17px;
        margin-bottom: 5px;

    }
    input,textarea {
        border: 1px solid #EFE9E9;
        outline-color: $pink;
        padding: 0 15px;
        &::placeholder {
            text-transform: capitalize;
        }
    }
    textarea {
        padding: 10px 15px;
    }
    button {
        background-color: $pink;
        height: 40px;
        color: white;
        text-transform: inherit;
        width: 100%;
        cursor: pointer;
        &:hover,&:active {
            background-color: darken($pink, 3%);

        }
    }
    .wrap-input {
        display: flex;
        flex-direction: column;
        width: 100%;
        input {
            height: 40px;

        }
        &:not(:nth-last-child(1)){
            margin-bottom: 14px;
        }
    }
    .is-danger {
      color: red!important;
      margin-bottom: 10px !important;
      font-size: 14px;
      display: block;
      &+* {
          outline-color: red !important;
      }
    }
}

// listBrand
.list-brand {
    a {
        display: block;
        margin: 5px;
        border: 2px solid white;
        img {
            display: block;
        }
        &:hover,&:active {
            border-color: $blue;
        }
    }
}

.list-chartBrand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    a {
        border: 1px solid white;
        min-width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4A4A4A;
        cursor: pointer;
        &:hover,&.active {
            border-color: $pink;
            color: $pink!important;
        }
    }
}

// toggle Siderbar
.wrap-slideBar {
    background-color: rgba(black, .9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    display: none;
    justify-content: flex-end;
    &.active {
        display: flex;
        .slideBar-toggle,.slideBar-footer {
            animation: wishListani .3s ease-out;
        }
    }
    .no-item {
        font-size: 17px;
        font-weight: 400;
    }
    .btn-pink {
        background-color: $pink;
        color: white;
        border-radius: 3px;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 400;
        &:hover,&:active {
            background-color: darken($pink, 3%);
        }
    }
}
.slideBar-toggle {
    background-color: white;
    overflow-y: scroll;
    z-index: 100;
    width: 95%;
    max-width: 380px;
    will-change: transform;
    max-height: calc(100% - 87px);
    &.love {
        max-height: 100%;
    }
}

.slideBar-header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    cursor: pointer;
    color: #9B9B9B;
    background-color: #EEEEEE;
    padding: 10px 16px;
    .icon {
        font-size: 28px;
        margin-right: 8px;
    }
    &:hover {
        background-color: darken(#eeeeee, 3%);
    }
}
.slideBar-box {
    background-color: white;
    width: 100%;
    display: flex;
    padding: 10px 16px;
    position: relative;
    font-weight: 300;
    min-height: 110px;
    text-decoration: none;
    &:not(:nth-last-child(1)){
        border-bottom: 1px solid #D8D8D8;
    }
    .icon-heart {
        color: $pink;
        position: absolute;
        top: 10px;
        left: 16px;
        font-size: 20px;
    }
    .icon-delete {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;
        font-size: 17px;
        background-color: white;
        color: $pink;
        &:hover,&:active {
            color: white;
            background-color: $pink;
        }
    }
    .title {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 8px;
        color: #4A4A4A;
    }
    .mini-title {
        margin: 3px 0;
        color: #4A4A4A;
    }
    .price {
        color: $pink;
        font-size: 18px;
        display: flex;
        align-items: center;
    }
    .cut-percent {
        border: 1px solid $pink;
        font-size: 12px;
        padding: 2px 10px;
        display: inline-block;
        margin-left: 8px;
    }
    .cut-price {
        color: #979797;
        text-decoration: line-through;
        font-size: 15px;
    }
    figure {
        margin-right: 10px;
    }
    &:hover,&:active {
        background-color: darken(white, 2%);
    }
}
.slideBar-footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    background-color: #D8D8D8;
    border-top: 1px solid #979797;
    padding: 15px 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 95%;
    max-width: 380px;
    margin-left: auto;
    span {
        color: $pink;
        font-size: 19px;
    }
}




@keyframes wishListani {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

// contact list
.contact-list {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    .icon {
        margin-right: 4px;
        font-size: 20px;
        min-width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        color: white;
        border-radius: 50%;
    }
    >div {
        display: flex;
        &:not(:nth-last-child(1)){
            margin-bottom: 14px;
        }
        >a {
            width: 50%;
            display: flex;
            align-items: center;
            color: #4A4A4A;
        }
    }
}
.logo-contact {
    max-width: 250px;
}
.bor-r-contact {
    border-right: 1px solid #EFE9E9;
}
.p-contact {
    //padding-top: 20px;
}

// cms
.cms-text{
    background-color: white;
    padding: 0 15px;

    img {
        margin: 0;
        max-width: 100%;
    }
}
.cms-img {
    img {
        margin: 0 auto !important;
    }
}
.cms-header {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    .wrap-title {
        display: flex;
        flex-direction: column;
        font-weight: 400;
    }
    .title {
        font-size: 25px;
        order: 1;
        font-weight: inherit;
        line-height: 1.1;
    }
    .date {
        order: 2;
        background-color: $pink;
        color: white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-size: inherit;
        text-transform: uppercase;
        margin: 17px 0;
    }
}


.title-social {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.share-post {
    display: flex;
    color: white;

    >a {
        color: inherit;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: 25px;
    }
    .share-p-facebook {
        background-color: #3378DA;
        &:hover,&:active {
            background-color: darken(#3378DA, 6%);
        }
    }
    .share-p-twitter {
        background-color: #4EBAEA;
        &:hover,&:active {
            background-color: darken(#4EBAEA, 6%);
        }
    }
    .share-p-line {
        background-color: #14A83F;
        &:hover,&:active {
            background-color: darken(#14A83F, 6%);
        }
    }
    .share-p-link {
        background-color: #EA834E;
        &:hover,&:active {
            background-color: darken(#EA834E, 6%);
        }
    }
}

$pay-process-iconSize: 20px;
.pay-process {
    display: flex;
    align-items: center;
    margin: 0 -3vw;
    max-width: 800px;
    margin: 0 auto;
    // &:before {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     left: 0;
    //     background-color: $pink;
    //     width: 100%;
    //     height: 2px;
    // }
    >.box {
        flex: 1;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        position: relative;
        background-color: white;
        text-align: center;
        overflow: visible;
        margin: 0 3vw;
        .icon {
            font-size: $pay-process-iconSize;
        }
        &.active {
            color: $pink;
            .icon {
                font-size: $pay-process-iconSize+4;
            }
        }
    }
}


// page pay
.wrap-sendOption {
    background-color: white;
}
.box-send {
    margin-top:10px;
    display: flex;
    padding: 0 17px;
    >label {
        display: flex;
        align-items: center;
        min-height: 70px;
        width: 100%;
        cursor: pointer;
    }
    input {
        margin-right: 8px;
        margin-top: 3px;
    }
    .title {
        margin-bottom: 3px;
    }
}

.pay-address {
    background-color: rgba(blue, .3);
    padding: 20px 15px;
}




.list-problem {
    display: block;

    >li {
        display: block;
        border-bottom: 1px solid #EFE9E9;
        cursor: pointer;
        padding: 15px 0;
        &.active {
            color: $blue;
        }
    }
}

.wrap-box-faq {
    .title {
        font-size: 23px;
        font-weight: 400;
    }
    >.box {
        display: none;
        &.active {
            display: block;
        }
    }
}

.form-problem {
    padding-top: 15px;
    input,textarea {
        border: 1px solid #EFE9E9;
        width: 100%;
        background-color: white;
        outline-color: $pink;
    }
    input {
        &[type=email]{
            height: 40px;
            padding: 0 15px;
            line-height: 40px;
        }
    }
    textarea {
        padding: 15px;
    }
    button {
        background-color: $pink;
        color: white;
        height: 40px;
        line-height: 40px;
        width: 100%;
        display: block;
        text-align: center;
        outline-color: $pink;
        cursor: pointer;
        &[disabled]{
            opacity: .7;
            cursor: default;
        }
    }
    >* {
        &:not(:nth-last-child(1)){
            margin-bottom: 14px;
        }
    }
    .is-danger {
        color: red!important;
        margin-bottom: 10px !important;
        display: block;
        &+* {
            outline-color: red !important;
        }
    }
}

.title-problem {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 400;
    color: $blue;
    border-bottom: 1px solid #EFE9E9;
    padding-bottom: 20px;
}

.problem-contact-list {
    >.box {
        display: block;
        text-align: center;

        &:not(:nth-last-child(1)){
            border-bottom: 1px solid #EFE9E9;
        }
    }
    a {
        padding: 20px 0;
        display: block;
        text-align: center;
        color: #4A4A4A;
        p {
            &:nth-child(1){
                text-transform: uppercase;
                margin-bottom: 5px;
            }
        }
        &:hover,&:active {
            color: $pink;
        }
    }
}


// page Product Detail
.quantity {
    position: relative;
    .icon {
        position: absolute;
        top: 0;
        background-color: white;
        color: $blue;
        font-size: 20px;
        width: 30%;
        height: 40px;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        border: 1px solid $blue;
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
        &:hover {
            background-color: $blue;
            color: white;
        }
    }
    input {
        border: 1px solid $blue;
        height: 40px;
        width: 100%;
       text-align: center;
        outline-color: $blue;
        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.btn-addCart {
    background-color: $pink;
    color: white;
    height: 55px;
    width: 100%;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    &:hover,&:active {
        background-color: darken($pink, 6%);
    }
    &[disabled] {
        pointer-events: none;
        opacity: .7;
    }
}


.toggle-productDetail {
    display: flex;
    margin: 30px 0 40px;
    p {
        border-bottom: 2px solid white;
        padding: 10px 15px;
        cursor: pointer;
        text-transform: capitalize;
        margin-right: 20px;
        font-size: 16px;
        &.active {
            color: $blue;
            border-bottom: 1px solid $blue;
        }
        &:hover {
            color: $blue;
        }
    }
}
.body-toggle-productDetail {
    >div {
        display: none;
        &.active {
            display: block;
        }
        p {
            line-height: 1.5;
        }
    }
}
.table-productDetail {
    border: 1px solid darken(#EFE9E9, 5%);
    font-size: 16px;
    margin: 10px 0;
    h5,p {
        font-size: inherit;
    }
    h5 {
        background-color: #EEEEEE;
        padding: 10px 15px;
        font-weight: 400;
    }
    p {
        padding: 8px 15px 15px;
    }
    >div {
        display: flex;
        flex-direction: column;
    }
}


.img-productDetail {
    figure {
        cursor: pointer;
    }
    .main-img {
        margin-bottom: 10px;
        cursor: default;
        img {
            margin: 0 auto;
            display: block;
        }
    }
    .mini-img {
        display: flex;
        justify-content: space-around;
        figure {
            img{
                border: 1px solid #EFE9E9;
            }
            &:not(:nth-last-child(1)){
                margin-right: 10px;
            }
        }
    }
}


.productDetail-info {
    .title {
        color: $blue;
       line-height: 1.5;
        font-weight: 400;
        padding-bottom: 10px;
        font-size: 20px;
        margin: 0 0 10px;
    }
    .wrap-price {
        display: flex;
        align-items: center;
        border: 1px solid #EFE9E9;
        border-left-width: 0;
        border-right-width: 0;
        padding: 20px 0;
        .price {
            font-size: 27px;
            color: $pink;
            text-transform: uppercase;
        }
        .cut-price {
            text-decoration: line-through;
            margin-left: 20px;
            font-size: 17px;
            color: #9B9B9B;
        }
    }
    >.pro-info{
      border-bottom: 1px solid #EFE9E9 !important;
        label{
          color: #9B9B9B;
        }
    }
}


.list-about {
    background-color: $blue;
    color: white;
    padding: 30px 0 10px;
    .box {
      display: flex;
      margin-bottom: 20px;
      .title {
        font-size: 22px;
        margin-bottom: 10px;
      }
      .icon {
        min-width: 65px;
        height: 65px;
        border: 2px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        margin-right: 20px;
      }
    }
  }




.sidebar-cat {
    .title {
        background-color: $pink;
        color: white;
        padding: 10px 5px;
        font-weight: 400;
        font-size: 18px;
    }
}

.sidebar-listCat{
    a {
        color: #464646;
        &:hover,&:active {
            color: black;
        }
    }
    i {
        margin-right: 8px;
    }
    li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &.nuxt-link-active {
            >span{
              color:$pink;
            }
            // >*{
            //     color: inherit;
            // }
            >ul {
                display: block;
            }
            &::before{
                background-color: $pink;
            }
            &:hover{
              background-color: white;
            }
        }
    }

    >li {
        border-bottom: 1px solid #D8D8D8;
        padding: 10px 5px;
        cursor: pointer;
        &:hover{
            background-color: darken(white, 3%)
        }
        :hover{
          ul{
            display: block;
          }
        }
        >ul {
            padding-left: 20px;
            width: 100%;
            display: none;
            list-style-type: circle;
            >li {
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: #4A4A4A;
                    margin-right: 8px;
                }
            }
        }
    }
}


.table-product {
    .product {
        margin-bottom: 10px;
    }
}

.cart-row {
    display: flex;
    flex-direction: column;
    border: 1px solid #D8D8D8;
    margin: 5px 0 0;
    padding: 16px;
    >div {
        display: flex;
        align-items: center;
    }
}

.cr-icon {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    &:hover {
        background-color: #EEEEEE;
    }
}
.cr-img {
 img {
     border: 1px solid #EEEEEE;
     display: block;
     margin: 0 auto;
 }
}

.cr-title {
    margin: 7.5px 0;
}
.cr-price {

}

.cr-quantity {
    margin: 20px 0;
}

.cr-total {
    color: $pink;
}

.cart-footer {
    border: 1px solid #D8D8D8;
    padding: 14px 20px;
    input {
        height: 40px;
        padding: 0 15px;
        border: 1px solid #9B9B9B;
        //margin: 0 20px;
        width: 100%;
        margin: 7.5px 0;
    }
}

.btn-coupon {
    border: 0;
    background-color: $blue;
    color: white;
    height: 40px;
    padding: 0 15px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    &:active,&:hover {
        background-color: darken($blue, 3%);
    }
}

.cart-sub {
    margin: 20px 0;
    font-size: 20px;

    span {
        display: block;
        font-size: 15px;
    }
}

.cart-btn {
    font-size: 18px;
    color: white;
    background-color: $pink;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    margin-top: 7.5px;
    &:hover {
        background-color: darken($pink, 5%)
    }
}
.wrapAddForm {
    margin: 25px 0;
}
.wrap-cardAddress {
    display: flex;
    flex-wrap: wrap;
}

.card-address {
    border: 1px solid #D8D8D8;
    width: 100%;
    padding: 20px 16px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    .icons {
        display: flex;
        justify-content: flex-end;
        color: $pink;
        .i {
            cursor: pointer;
            &:hover {
                color: darken($pink ,8%)
            }
        }
        .i-edit {
            margin-right: 12px;
        }
        .i-delete {

        }
    }
    .name {
        font-size: 19px;
        color: inherit;
        font-weight: 400;

    }
    .address {
        font-size: 16px;
        color: inherit;
        margin: 7.5px 0;
    }
    .tel {
        font-size: 19px;
    }
    &.active {
        border-color: $pink;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-top: 50px solid $pink;
            border-right: 50px solid transparent;
        }
        &:after {
            content: '\f00c';
            font-family: 'Font Awesome 5 Pro';
            position: absolute;
            top: 5px;
            left: 10px;
            color: white;

        }
    }
}

.btn-addAddress {
    background-color: $pink;
    color: white;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    margin: 10px 0 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-addAddress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, .7);
    z-index: 100;
    padding: 15px;
    overflow-y: auto;
    display: block;
    .form {
        background-color: white;
        width: 100%;
        max-width: 640px;
        padding: 15px 8px;
        margin: 8px auto;
        display: block;
    }
    .wrap-input {
        display: flex;
        flex-direction: column;

        &:not(:nth-last-child(1)){
            margin-bottom: 8px;
        }
    }
    .close {
        font-size: 25px;
        align-items: flex-end;
        cursor: pointer;
    }
    label {
        margin-bottom: 6px;
    }
    input {
        height: 40px!important;
        padding: 0 15px!important;
    }
    select {
        height: 40px;
    }
    input,textarea,select {
        background-color: white!important;
        border: 1px solid #979797!important;
        border-radius: 0!important;
    }
    button {
        background-color: $pink;
        color: white;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:active,&:hover {
            background-color: darken($pink, 5%);
        }
    }
    span {
      color:red;
      margin-left: 4px;
    }
}



.wrap-usercomment {
    padding: 0 17px;
    margin-top: 40px;
    .title {
        color: #333;
        font-size: 19px;
        background-color: #f5f5f5;
        padding: 10px 10px;
        font-weight: 400;
        margin: 15px 0 10px;
    }
}

.product-comment {
    display: flex;
    flex-direction: column;
    .star {
        margin: 0 auto 10px;
        background-color: #f5f5f5;
        min-width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .star-number {
        color: #333;
        font-size: 30px;
        font-weight: 400;
    }
    .star-list {
        color: $pink;
        margin-top: 5px;
        display: flex;
        .i-start {
            cursor: pointer;
        }
    }
    textarea {
        padding: 10px 15px;
        border: 1px solid #d9d9d9;
    }
}

.comment-form {
    display: flex;
    flex-direction: column;
    .btn-pink {
        background-color: $pink;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        margin-top: 8px;
        &:hover {
            background-color: darken($pink ,5%);
        }
    }
}

.user-comment {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #EEEEEE;
    padding: 35px 0;
}

.user-comment-img {
    margin-right: 8px;
    width: 100%;
    order: 1;
}
.user-comment-body {
    order: 3;
    .name {
        margin-right: 8px;
    }
    .des {
        margin: 5px 0;
        line-height: 1.5;
    }
    .i-heart {
        margin-right: 4px;
    }
}
.user-comment-start {
    order: 2;
    width: 100%;
    margin: 7.5px 0;
    color: $pink;
}
.user-comment-title {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    .name {
        font-size: 18px;
        font-weight: 400;
    }
    .date {
        color: #9d9d9d;
    }
}




.list-img {
    margin-top: 20px;
    >* {
        margin-top: 7.5px;
    }
}

.sliderProduct,
.sliderNews,
.relatedSlider{
    position: relative;
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        background-color: rgba(black, .5);
        color: white;
        font-size: 20px;
        min-width: 30px;
        height: 30px;
        border-radius: 50%;
        outline-width: 0;
        display: flex;
        align-items: center;
        justify-content:  center;
        padding: 0;
        cursor: pointer;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
}
.sliderNews {
    .slick-arrow{
        background-color: transparent;
        border: 1px solid #eeeeee;
        color: #444;
        font-size: 15px;
        min-width: 35px;
        height: 35px;
    }
    .slick-prev {
        left: 10px;
    }
    .slick-next {
        right: 10px;
    }
}
.relatedSlider {
    .slick-arrow {
        background-color: transparent;
        font-size: 25px;
        color: #444;
    }
    .slick-prev {
        left: 0px;
        transform: translate(-100%,-50%);
    }
    .slick-next {
        right: 0px;
        transform: translate(50%,-50%);
    }
    .product {
        display: block;
    }
}

.title-newss {
    margin: 30px 0;
}

.news-slider {
    margin-top: 30px;
    .product {
        margin: 0 auto!important;
        display: block;
    }
    .product_price  {
        .price {
            font-size: 20px;
        }
    }
}

.product-listDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        display: block;
        margin: 0 auto;
    }
    >* {
        margin-bottom: 7.5px;
    }
}

.relatedTitle {
    margin: 30px 0;
}

.blogPage {
    .thumBlog {
        margin: 0 0 50px;
    }
}

.wrap-boxPay {
    .boxPaytitle {

    }
    .boxPay {
        label {
            width: 100%;
            cursor: pointer;
            display: flex;
            padding: 15px 0;
            border-bottom: 1px solid #EFE9E9;
                align-items: center;
            >div {
                display: flex;
                align-items: center;
            }
            .t {
                margin-left: 8px;
            }
            i {
                margin-left: 8px;
                font-size: 25px;
            }
            &.active {
                .t {
                    color: $pink;

                }
                i {
                    color: $pink;

                }
                &+.boxPayhide {
                    display: block;
                }
            }
        }
    }
}
.wrap-form-credit{
    margin: 20px 0;
    .wrap-input-icon-lock  {
        &:not(:nth-last-child(1)){
            margin-bottom: 15px;
        }
        span{
          color: red;
        }
    }
}
.wrap-input-icon-lock {
    position: relative;
    input {
        border: 0;
        border: 1px solid #696969;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        padding-right: 40px;
    }
    >i {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        height: 100%;
        width: 40px;
        font-size: 17px;
        color: #4A4A4A;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.shadow-pay {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 25px 6px rgba(230,230,230,1);
}
.main-pt-pay {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pay-title {
    margin-bottom: 20px;
    font-size: 23px;
    text-align: center;
}


.boxx-send{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    >p {
        &:nth-child(1){
            order: 1;
            width: 50%;
        }
        &:nth-child(2){
            order: 3;
            width: 100%;
        }
        &:nth-last-child(1){
            order: 2;
            width: 50%;
            display: flex;
            justify-content: flex-end;
        }
    }
}


.pay3 {
    .cart-col {
        display: flex;
        padding: 5px 16px;
        >div {
            &:nth-child(1){
                flex-basis: 20%;
                margin-left: 159px;
            }
            &:nth-child(2){
                flex: 0 0 10%;
            }
            &:nth-child(3){
                flex: 0 0 10%;
            }
            &:nth-child(4){
                flex: 0 0 10%;
            }
        }
    }
    .cart-row{

    }
}

.c-pink {
    color: $pink;
}
.wrap-boxsubmary {
    min-width: 300px;
}

.pay3-btn {
    margin-top: 20px;
    .btn{
        border: 0;
        color: white;
    }
    .btn1 {
        background-color :#4A4A4A;
    }
    .btn2 {
        background-color: $pink;
    }
}

.pay3mT {
    margin-top: 30px;
}

.swal2-shown{
  padding-right: 0px!important;
}

.wizard-icon{
  font-size: 36px!important;
}

.wizard-card-footer{
  margin-top: 20px;
}
