<template>
  <no-ssr>
    <div>
      <header class="banner">
        <h2 class="title">{{$t('foot.blog')}}</h2>
      </header>
      <bread-crumb :des="$t('foot.blog')"></bread-crumb>
      <div class="container p-0">
        <div class="row">
          <div class="col-12">
            <div class="cms-text">
              <figure class="cms-img">
                <img src="https://via.placeholder.com/1920x600" alt v-if="newsByID.news_img == null">
                <img :src="path+'/Picture/NewsPicture/'+newsByID.news_img" alt v-else>
              </figure>
              <div class="cms-header">
                <div class="wrap-title">
                  <p class="date">
                    {{formatDate(newsByID.created_at)}}
                  </p>
                  <h2 class="title">
                    {{lang === 'th'?newsByID.news_title_TH:newsByID.news_title_EN}}
                  </h2>
                </div>
                <div class="wrap-share-social">
                  <p class="title-social">
                    share this post
                  </p>
                  <div class="share-post">
                    <a class="share-p-facebook" href="">
                      <font-awesome-icon :icon="['fab', 'facebook']"/>

                    </a>
                    <a class="share-p-twitter" href="">
                      <font-awesome-icon :icon="['fab', 'twitter']"/>

                    </a>
                    <a class="share-p-line" href="">
                      <font-awesome-icon :icon="['fab', 'line']"/>

                    </a>
                    <a class="share-p-link" href="">
                      <font-awesome-icon :icon="['far', 'link']"/>

                    </a>
                  </div>
                </div>

              </div>
              <div class="cms-body" v-html="lang === 'th'?newsByID.news_detail_TH:newsByID.news_detail_EN">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </no-ssr>
</template>

<script>
  import Breadcrumb from "~/components/breadcumb.vue";
  export default {
    async fetch(context) {
      await context.store.dispatch("News/getNews");
    },
    components: {
      'bread-crumb': Breadcrumb
    },
    computed : {
      newsByID(){
        return this.$store.getters['News/newsByID'](this.$route.params.id);
      }
    }
  };

</script>

<style>
</style>
