<template>
  <no-ssr>
    <div>
      <header class="banner">
        <h2 class="title">
          {{$t('pay.title')}}
        </h2>
      </header>

      <bread-crumb :des="$t('pay.title')"></bread-crumb>
      <div class="container">
        <div class="row d-flex justify-content-center w-100">
          <div class="col-12 form-pay">
            <form-wizard title="" subtitle="" color="#FE6383" @on-complete="onComplete" @on-change="onChange">
              <tab-content :title="'1. ' + this.$t('pay.headstep1')" icon="ti-truck" :before-change="validateFirstStep">
                <step1 ref="step1"></step1>
              </tab-content>
              <tab-content :title="'2. ' + this.$t('pay.headstep1')" icon="ti-credit-card" :before-change="validateSecoundStep">
                <step2 ref="step2"></step2>
              </tab-content>
              <tab-content :title="'3. ' + this.$t('pay.headstep1')" icon="ti-clipboard">
                <step3 ref="step3"></step3>
              </tab-content>
            </form-wizard>
          </div>
        </div>
      </div>
    </div>
  </no-ssr>
</template>

<script>
  import Breadcrumb from '~/components/breadcumb.vue'
  import {
    FormWizard,
    TabContent
  } from 'vue-form-wizard'
  import 'vue-form-wizard/dist/vue-form-wizard.min.css'
  import '~/assets/themify-icons/themify-icons.css'
  import step1 from '~/components/pay/step1'
  import step2 from '~/components/pay/step2'
  import step3 from '~/components/pay/step3'
  import {
    nextTick
  } from 'q';
  export default {
    async fetch(context){
      await context.store.dispatch('getAddress')
    },
    components: {
      FormWizard,
      TabContent,
      'bread-crumb': Breadcrumb,
      step1,
      step2,
      step3
    },
    middleware:['member'],
    data() {
      return {
      }
    },
    methods: {
      async onComplete() {
        await alert('Yay. Done!');
        await this.$store.commit('Payment/CLEAR_PAYMENT');
        await this.$axios.$delete('clear_basket/'+this.user.id);
        await this.$store.commit('SET_BASKET',[]);
        await this.$router.push('/');
      },
      onChange() {
        window.scrollTo({
          top: 100
        });
      },
      async validateFirstStep(){
        const check = await this.$refs.step1.validateForm();
        return check;
      },
      async validateSecoundStep(){
        const check = await this.$refs.step2.validateForm();
        return check;
      }
    },
    scrollToTop: true
  }

</script>

<style>

</style>
